@tailwind base;
@tailwind components;
@tailwind utilities;

/* 時間別予報の横スクロール用スタイル */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}